<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}" class="blog-title">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Start Bootstrap</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        {% if page.url == '/index.html' %}
          <li class="active">
        {% else %}
          <li>
        {% endif %}
        <a href="/index.html">Home</a></li>

        {% if page.url == '/about.md' %}
          <li class="active">
        {% else %}
          <li>
        {% endif %}
        <a href="/about.md">About</a></li>

        {% if page.url == '/portfolio.md' %}
          <li class="active">
        {% else %}
          <li>
        {% endif %}
        <a href="/portfolio.md">Portfolio</a></li>

        {% if page.url == '/index.html' %}
          <li class="active">
        {% else %}
          <li>
        {% endif %}
        <a href="/index.html">Blog</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
